{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Exchange: {{ exchange.name }}</p>
        </header>
        <div class="card-content">
            <div class="content">
                <p><strong>Description:</strong> {{ exchange.description }}</p>
            </div>
        </div>

        {% if exchange.market_set.exists %}
        <div class="card-content">
            <div class="content">
                <p class="title is-4">Markets</p>
                {% for market in exchange.market_set.all %}
                <div class="box" style="margin-top: 1rem;">
                    <p class="title is-4">Market: {{ market.market_type }}</p>
                    <div class="tags are-medium">
                        {% for coin in market.coins.all %}
                        <span class="tag is-primary is-light">{{ coin.symbol }}</span>
                        {% endfor %}
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="card-content">
            <div class="content">
                <p>No markets available.</p>
                <a href="{% url 'exchange:add_market' exchange.id %}" class="button is-primary">Add Market</a>
            </div>
        </div>
        {% endif %}



        <footer class="card-footer">
            <a href="{% url 'exchange:exchange_list' %}" class="card-footer-item">Back to List</a>
        </footer>
    </div>
</div>
{% endblock %}
