{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinHub</title>

    <!-- Include jQuery first -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Then include DataTables JS -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <!-- CSS for Bulma, FontAwesome, DataTables -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bulma.min.css">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
{% include 'base/header.html' %}
<button class="button" id="sidebarToggle" style="z-index: 100; top: 10px; left: 10px;">
    <span class="icon"><i class="fas fa-bars"></i></span>
</button>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                {% include 'base/sidebar.html' %}
            </div>
            <div class="column">
                {% if messages %}
                    <div class="notification is-primary">
                        {% for message in messages %}
                            <button class="delete"></button>
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
<script>
    // Sidebar Toggle Script
    document.addEventListener('DOMContentLoaded', function () {
        const sidebar = document.getElementById('sidebar');
        const sidebarToggle = document.getElementById('sidebarToggle');

        sidebarToggle.onclick = function () {
            sidebar.classList.toggle('is-hidden-mobile');
            sidebar.classList.toggle('is-hidden-tablet');
            document.getElementById('mainContent').classList.toggle('is-fullwidth');
        };
    });

    // Dynamic Active Links Script
    document.addEventListener('DOMContentLoaded', function () {
        const currentLocation = window.location.pathname;
        const menuItems = document.querySelectorAll('.menu-list a');

        menuItems.forEach(item => {
            if (item.getAttribute('href') === currentLocation) {
                item.classList.add('is-active');
            }
        });
    });
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
