<aside class="menu">
    <!-- Main Menu -->
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a class="navbar-item" href="{% url 'dashboard' %}">Dashboard</a></li>

    </ul>

    <!-- Bots Menu -->
    <p class="menu-label">
        Bots
    </p>
    <ul class="menu-list">
        <li><a class="{% if section == 'bots' %}is-active{% endif %}" href="{% url 'bot:bot_list' %}">Bots List</a></li>
        <li><a href="{% url 'bot:bot_new' %}">Add New Bot</a></li>
    </ul>

    <!-- Exchanges Menu -->
    <p class="menu-label">
        Exchanges
    </p>
    <ul class="menu-list">
        <li><a class="{% if section == 'exchanges' %}is-active{% endif %}" href="{% url 'exchange:exchange_list' %}">Exchange List</a></li>
        <li><a href="{% url 'exchange:exchange_new' %}">Add New Exchange</a></li>
    </ul>

    <!-- Accounts Menu -->
    <p class="menu-label">
        Account
    </p>
    <ul class="menu-list">
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
    </ul>
</aside>
