{% extends 'base/base.html' %}

{% block content %}

    <div class="box">
        <h1 class="title">Login</h1>

        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">Username</label>
                    <div class="control">
      <input class="input" type="text" placeholder="e.g. helloHuman" name="username" required/>
    </div>

                <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" name="password" required/>
    </div>
  </div>

            <button class="button is-primary">Sign in</button>
            {% if error %}
            <p class="help is-danger">{{ error }}</p>
            {% endif %}
        </form>


{% endblock %}


<form class="box">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="e.g. alex@example.com" />
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" />
    </div>
  </div>

  <button class="button is-primary">Sign in</button>
</form>