{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .small-label {
        font-size: 1rem;
    }
    .centered-button {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
    .help-message {
        font-size: 0.85rem;
        color: #6e6e6e;
    }
    .select-all-button {
        margin-bottom: 1rem;
    }
    .box {
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;
    }
    .field:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .title, .subtitle, .explanation {
        color: white;
    }
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .explanation {
        font-size: 1rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        background-color: #3273dc;
        padding: 1rem;
        border-radius: 8px;
    }
    .explanation-icon {
        margin-right: 1rem;
    }
    .button.is-link {
        background-color: #3273dc;
        border-color: transparent;
    }
    .button.is-link:hover {
        background-color: #276cda;
    }
    .field-group {
        display: flex;
        gap: 1rem;
    }
</style>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <div class="box">
                <h1 class="title has-text-centered">Optimize</h1>
                <p class="subtitle has-text-centered">Optimize trading parameters for your chosen symbols and timeframes.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label small-label">Exchange</label>
                        <div class="control">
                            <select name="exchange" class="input" id="exchange-select">
                                {% for exchange in exchanges %}
                                    <option value="{{ exchange.id_char }}" {% if exchange.id_char == "hyperliquid" %}selected{% endif %}>{{ exchange.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Symbol</label>
                        <div class="buttons has-addons select-all-button">
                            <button type="button" class="button is-small is-info" onclick="toggleSelection('symbol-checkbox')">Select All Symbols</button>
                        </div>
                        <div class="control" id="symbol-options">
                            <!-- Symbols will be populated by JavaScript -->
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Timeframe</label>
                        <div class="buttons has-addons select-all-button">
                            <button type="button" class="button is-small is-info" onclick="toggleSelection('timeframe-checkbox')">Select All Timeframes</button>
                        </div>
                        <div class="control" id="timeframe-options">
                            <!-- Timeframes will be populated by JavaScript -->
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label class="label small-label">Start Date</label>
                            <div class="control">
                                <input type="date" name="{{ form.start_date.name }}" class="input" value="{{ form.start_date.value|default:form.start_date.initial }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">End Date</label>
                            <div class="control">
                                <input type="date" name="{{ form.end_date.name }}" class="input" value="{{ form.end_date.value|default:form.end_date.initial }}">
                            </div>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label class="label small-label">Cash</label>
                            <div class="control">
                                <input type="number" name="{{ form.cash.name }}" class="input" value="{{ form.cash.value|default:10000 }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">Commission</label>
                            <div class="control">
                                <input type="number" step="0.001" name="{{ form.commission.name }}" class="input" value="{{ form.commission.value|default:0.008 }}">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Open Browser</label>
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ form.openbrowser.name }}" value="True" {% if form.openbrowser.value %}checked{% endif %}>
                                Open Browser
                            </label>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label class="label small-label">Min Time Period</label>
                            <div class="control">
                                <input type="number" name="{{ form.min_timeperiod.name }}" class="input" value="{{ form.min_timeperiod.value|default:0 }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">Max Time Period</label>
                            <div class="control">
                                <input type="number" name="{{ form.max_timeperiod.name }}" class="input" value="{{ form.max_timeperiod.value|default:3 }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">Interval Time Period</label>
                            <div class="control">
                                <input type="number" step="0.1" name="{{ form.interval_timeperiod.name }}" class="input" value="{{ form.interval_timeperiod.value|default:0.2 }}">
                            </div>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <label class="label small-label">Min Multiplier</label>
                            <div class="control">
                                <input type="number" name="{{ form.min_multiplier.name }}" class="input" value="{{ form.min_multiplier.value|default:0 }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">Max Multiplier</label>
                            <div class="control">
                                <input type="number" name="{{ form.max_multiplier.name }}" class="input" value="{{ form.max_multiplier.value|default:3 }}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label small-label">Interval Multiplier</label>
                            <div class="control">
                                <input type="number" step="0.1" name="{{ form.interval_multiplier.name }}" class="input" value="{{ form.interval_multiplier.value|default:0.2 }}">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Max Tries</label>
                        <div class="control">
                            <input type="number" name="{{ form.max_tries.name }}" class="input" value="{{ form.max_tries.value|default:10 }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control centered-button">
                            <button type="submit" class="button is-link is-large">Run Optimization</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function toggleSelection(className) {
    const checkboxes = document.querySelectorAll('.' + className);
    const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
    checkboxes.forEach(checkbox => {
        checkbox.checked = !allChecked;
    });
}

document.addEventListener('DOMContentLoaded', function() {
    const exchangeSelect = document.querySelector('#exchange-select');
    const exchangeIdChar = exchangeSelect.value;
    fetch(`/exchanges/${exchangeIdChar}/data/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const symbolField = document.querySelector('#symbol-options');
            const timeframeField = document.querySelector('#timeframe-options');
            symbolField.innerHTML = '';
            timeframeField.innerHTML = '';

            data.symbols.forEach(symbol => {
                const label = document.createElement('label');
                label.className = 'checkbox';
                const input = document.createElement('input');
                input.type = 'checkbox';
                input.name = 'symbol';
                input.value = symbol;
                input.className = 'symbol-checkbox';
                label.appendChild(input);
                label.appendChild(document.createTextNode(symbol));
                symbolField.appendChild(label);
            });

            data.timeframes.forEach(timeframe => {
                const label = document.createElement('label');
                label.className = 'checkbox';
                const input = document.createElement('input');
                input.type = 'checkbox';
                input.name = 'timeframe';
                input.value = timeframe;
                input.className = 'timeframe-checkbox';
                label.appendChild(input);
                label.appendChild(document.createTextNode(timeframe));
                timeframeField.appendChild(label);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });

    exchangeSelect.addEventListener('change', function() {
        const exchangeIdChar = this.value;
        fetch(`/exchanges/${exchangeIdChar}/data/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const symbolField = document.querySelector('#symbol-options');
                const timeframeField = document.querySelector('#timeframe-options');
                symbolField.innerHTML = '';
                timeframeField.innerHTML = '';

                data.symbols.forEach(symbol => {
                    const label = document.createElement('label');
                    label.className = 'checkbox';
                    const input = document.createElement('input');
                    input.type = 'checkbox';
                    input.name = 'symbol';
                    input.value = symbol;
                    input.className = 'symbol-checkbox';
                    label.appendChild(input);
                    label.appendChild(document.createTextNode(symbol));
                    symbolField.appendChild(label);
                });

                data.timeframes.forEach(timeframe => {
                    const label = document.createElement('label');
                    label.className = 'checkbox';
                    const input = document.createElement('input');
                    input.type = 'checkbox';
                    input.name = 'timeframe';
                    input.value = timeframe;
                    input.className = 'timeframe-checkbox';
                    label.appendChild(input);
                    label.appendChild(document.createTextNode(timeframe));
                    timeframeField.appendChild(label);
                });
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    });
});
</script>
{% endblock %}
