{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .small-label {
        font-size: 1rem;
    }
    .centered-button {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    }
    .help-message {
        font-size: 0.85rem;
        color: #6e6e6e;
    }
    .select-all-button {
        margin-bottom: 1rem;
    }
    .box {
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;
    }
    .field:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .title, .subtitle, .explanation {
        color: white;
    }
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .explanation {
        font-size: 1rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        background-color: #3273dc;
        padding: 1rem;
        border-radius: 8px;
    }
    .explanation-icon {
        margin-right: 1rem;
    }
    .button.is-link {
        background-color: #3273dc;
        border-color: transparent;
    }
    .button.is-link:hover {
        background-color: #276cda;
    }
</style>
<div class="container">
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <div class="box">
                <h1 class="title has-text-centered">Optimize</h1>
                <p class="subtitle has-text-centered">Optimize trading parameters for your chosen symbols and timeframes.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label small-label">Exchange</label>
                        <div class="control">
                            <select name="exchange" class="input" id="exchange-select">
                                {% for exchange in exchanges %}
                                    <option value="{{ exchange.id_char }}">{{ exchange.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Symbol</label>
                        <div class="buttons has-addons select-all-button">
                            <button type="button" class="button is-small is-info" onclick="toggleSelection('symbol-checkbox')">Select All Symbols</button>
                        </div>
                        <div class="control" id="symbol-options">
                            {% for choice_value, choice_label in form.symbol.field.choices %}
                                <label class="checkbox">
                                    <input type="checkbox" name="{{ form.symbol.name }}" value="{{ choice_value }}" class="symbol-checkbox">
                                    {{ choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Timeframe</label>
                        <div class="buttons has-addons select-all-button">
                            <button type="button" class="button is-small is-info" onclick="toggleSelection('timeframe-checkbox')">Select All Timeframes</button>
                        </div>
                        <div class="control" id="timeframe-options">
                            {% for choice_value, choice_label in form.timeframe.field.choices %}
                                <label class="checkbox">
                                    <input type="checkbox" name="{{ form.timeframe.name }}" value="{{ choice_value }}" class="timeframe-checkbox">
                                    {{ choice_label }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Start Date</label>
                        <div class="control">
                            <input type="date" name="{{ form.start_date.name }}" value="{{ form.start_date.value|default:form.start_date.initial }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">End Date</label>
                        <div class="control">
                            <input type="date" name="{{ form.end_date.name }}" value="{{ form.end_date.value|default:form.end_date.initial }}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Cash</label>
                        <div class="control">
                            {{ form.cash|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Commission</label>
                        <div class="control">
                            {{ form.commission|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Open Browser</label>
                        <div class="control">
                            {{ form.openbrowser|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Max Tries</label>
                        <div class="control">
                            {{ form.max_tries|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Min Time Period</label>
                        <div class="control">
                            {{ form.min_timeperiod|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Max Time Period</label>
                        <div class="control">
                            {{ form.max_timeperiod|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Interval Time Period</label>
                        <div class="control">
                            {{ form.interval_timeperiod|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Min Multiplier</label>
                        <div class="control">
                            {{ form.min_multiplier|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Max Multiplier</label>
                        <div class="control">
                            {{ form.max_multiplier|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <label class="label small-label">Interval Multiplier</label>
                        <div class="control">
                            {{ form.interval_multiplier|add_class:"input" }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control centered-button">
                            <button type="submit" class="button is-link is-large">Run Optimization</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function toggleSelection(className) {
    const checkboxes = document.querySelectorAll('.' + className);
    const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
    checkboxes.forEach(checkbox => {
        checkbox.checked = !allChecked;
    });
}

document.querySelector('#exchange-select').addEventListener('change', function() {
    const exchangeIdChar = this.value;
    fetch(`/exchanges/${exchangeIdChar}/data/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const symbolField = document.querySelector('#symbol-options');
            const timeframeField = document.querySelector('#timeframe-options');
            symbolField.innerHTML = '';
            timeframeField.innerHTML = '';

            data.symbols.forEach(symbol => {
                const label = document.createElement('label');
                label.className = 'checkbox';
                const input = document.createElement('input');
                input.type = 'checkbox';
                input.name = 'symbol';
                input.value = symbol;
                input.className = 'symbol-checkbox';
                label.appendChild(input);
                label.appendChild(document.createTextNode(symbol));
                symbolField.appendChild(label);
            });

            data.timeframes.forEach(timeframe => {
                const label = document.createElement('label');
                label.className = 'checkbox';
                const input = document.createElement('input');
                input.type = 'checkbox';
                input.name = 'timeframe';
                input.value = timeframe;
                input.className = 'timeframe-checkbox';
                label.appendChild(input);
                label.appendChild(document.createTextNode(timeframe));
                timeframeField.appendChild(label);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
});
</script>
{% endblock %}
