{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="title">Create New Paper Trade</h1>
    <div class="box">
        <form method="POST" id="createPaperTradeForm">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="field">
                <label class="label">{{ form.name.label }}</label>
                <div class="control">
                    <input class="input" type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" value="{{ form.name.value|default:'Default Trade Name' }}" required>
                </div>
                {{ form.name.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.initial_balance.label }}</label>
                <div class="control">
                    <input class="input" type="number" name="{{ form.initial_balance.name }}" id="{{ form.initial_balance.id_for_label }}" value="{{ form.initial_balance.value|default:1000 }}" required>
                </div>
                {{ form.initial_balance.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.exchange.label }}</label>
                <div class="control">
                    <select name="{{ form.exchange.name }}" id="exchange-select" class="input" required>
                        <option value="">Select Exchange</option>
                        {% for exchange in exchanges %}
                            <option value="{{ exchange.id_char }}" data-char-id="{{ exchange.id_char }}" {% if form.initial.exchange == exchange.id %}selected{% endif %}>{{ exchange.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {{ form.exchange.errors }}
            </div>
            <div class="field">
                <label class="label">Market:</label>
                <div class="control">
                    <select id="marketSelect" name="type" class="input" required onchange="updateSymbolsAndTimeframes();">
                        <option value="">Select Market</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ form.coin.label }}</label>
                <div class="control">
                    <select id="coinSelect" name="{{ form.coin.name }}" class="input" required>
                        <option value="">Select Coin</option>
                    </select>
                </div>
                {{ form.coin.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.timeframe.label }}</label>
                <div class="control">
                    <select id="timeframeSelect" name="{{ form.timeframe.name }}" class="input" required>
                        <option value="">Select Timeframe</option>
                    </select>
                </div>
                {{ form.timeframe.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.cron_timeframe.label }}</label>
                <div class="control">
                    <input class="input" type="number" name="{{ form.cron_timeframe.name }}" id="{{ form.cron_timeframe.id_for_label }}" value="{{ form.cron_timeframe.value|default:60 }}" required>
                </div>
                {{ form.cron_timeframe.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.lookback_period.label }}</label>
                <div class="control">
                    <input class="input" type="number" name="{{ form.lookback_period.name }}" id="{{ form.lookback_period.id_for_label }}" value="{{ form.lookback_period.value|default:30 }}" required>
                </div>
                {{ form.lookback_period.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.atr_timeperiod.label }}</label>
                <div class="control">
                    <input class="input" type="number" step="0.0000000001" name="{{ form.atr_timeperiod.name }}" id="{{ form.atr_timeperiod.id_for_label }}" value="{{ form.atr_timeperiod.value|default:14 }}" required>
                </div>
                {{ form.atr_timeperiod.errors }}
            </div>
            <div class="field">
                <label class="label">{{ form.atr_multiplier.label }}</label>
                <div class="control">
                    <input class="input" type="number" step="0.0000000001" name="{{ form.atr_multiplier.name }}" id="{{ form.atr_multiplier.id_for_label }}" value="{{ form.atr_multiplier.value|default:1.5 }}" required>
                </div>
                {{ form.atr_multiplier.errors }}
            </div>
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-link">Create Trade</button>
                </div>
            </div>
        </form>
    </div>


    <h2 class="title">Optimization Results</h2>
    <div class="box">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable" id="optimizeTable">
                <thead>
                    <tr>
                        <th>Exchange</th>
                        <th>Symbol</th>
                        <th>Timeframe</th>
                        <th>Return [%]</th>
                        <th>Sharpe Ratio</th>
                        <th>Max Drawdown [%]</th>
                        <th>Duration</th>
                        <th>Number of Trades</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for optimization in optimizations %}
                        <tr>
                            <td>{{ optimization.exchange }}</td>
                            <td>{{ optimization.symbol }}</td>
                            <td>{{ optimization.timeframe }}</td>
                            <td>
                                    <span class="{% if optimization.return_percent > 100 %}tag is-success{% else %}tag is-danger{% endif %}">
                                        {{ optimization.return_percent|floatformat:2 }}%
                                    </span>
                                </td>

                                <td>
                                    <span class="{% if optimization.sharpe_ratio < 1 %}tag is-danger{% elif optimization.sharpe_ratio >= 2 %}tag is-success{% else %}tag is-warning{% endif %}">
                                        {{ optimization.sharpe_ratio|floatformat:2 }}
                                    </span>
                                </td>
                            <td>{{ optimization.max_drawdown_percent|floatformat:2 }}</td>
                            <td>{{ optimization.duration }}</td>
                            <td>{{ optimization.number_of_trades }}</td>
                            <td>
                                <button class="button is-small is-link" onclick="populateForm('{{ optimization.exchange }}', '{{ optimization.symbol }}', '{{ optimization.timeframe }}', '{{ optimization.commission }}', '{{ optimization.atr_timeperiod }}', '{{ optimization.atr_multiplier }}')">Use</button>
                            </td>
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function updateMarkets() {
    const exchangeId = document.getElementById('exchange-select').value;
    if (!exchangeId) {
        document.getElementById('marketSelect').innerHTML = '<option value="">Select Market</option>';
        document.getElementById('coinSelect').innerHTML = '<option value="">Select Coin</option>';
        document.getElementById('timeframeSelect').innerHTML = '<option value="">Select Timeframe</option>';
        return;
    }
    const exchangeCharId = document.querySelector(`#exchange-select option[value="${exchangeId}"]`).dataset.charId;
    fetch(`/market/ajax/load-markets/?exchange=${exchangeCharId}`)
    .then(response => response.json())
    .then(data => {
        const marketSelect = document.getElementById('marketSelect');
        marketSelect.innerHTML = '<option value="">Select Market</option>';
        data.forEach(market => {
            const option = document.createElement('option');
            option.value = market.id;
            option.textContent = market.market_type;
            marketSelect.appendChild(option);
        });
        document.getElementById('coinSelect').innerHTML = '<option value="">Select Coin</option>';
        document.getElementById('timeframeSelect').innerHTML = '<option value="">Select Timeframe</option>';
    })
    .catch(error => console.error('Error loading markets:', error));
}

function updateSymbolsAndTimeframes() {
    const marketId = document.getElementById('marketSelect').value;
    if (!marketId) {
        document.getElementById('coinSelect').innerHTML = '<option value="">Select Coin</option>';
        document.getElementById('timeframeSelect').innerHTML = '<option value="">Select Timeframe</option>';
        return;
    }
    fetch(`/market/ajax/load-symbols-timeframes/?market=${marketId}`)
    .then(response => response.json())
    .then(data => {
        const coinSelect = document.getElementById('coinSelect');
        const timeframeSelect = document.getElementById('timeframeSelect');
        coinSelect.innerHTML = '<option value="">Select Coin</option>';
        timeframeSelect.innerHTML = '<option value="">Select Timeframe</option>';

        data.symbols.forEach(symbol => {
            const option = document.createElement('option');
            option.value = symbol.id;
            option.textContent = symbol.symbol;
            coinSelect.appendChild(option);
        });

        data.timeframes.forEach(timeframe => {
            const option = document.createElement('option');
            option.value = timeframe;
            option.textContent = timeframe;
            timeframeSelect.appendChild(option);
        });
    })
    .catch(error => console.error('Error loading symbols and timeframes:', error));
}

function populateForm(exchange, symbol, timeframe, commission, atr_timeperiod, atr_multiplier) {
    document.getElementById('exchange-select').value = exchange;
    updateMarkets();  // Update markets based on the selected exchange
    setTimeout(function() {
        document.getElementById('coinSelect').value = symbol;
        document.getElementById('timeframeSelect').value = timeframe;
    }, 500);  // Adjust timeout as needed
    document.getElementById('{{ form.atr_timeperiod.id_for_label }}').value = atr_timeperiod;
    document.getElementById('{{ form.atr_multiplier.id_for_label }}').value = atr_multiplier;
    document.getElementById('commission').value = commission;
}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('exchange-select').addEventListener('change', updateMarkets);
    document.getElementById('marketSelect').addEventListener('change', updateSymbolsAndTimeframes);
});

$(document).ready(function() {
    var table = $('#optimizeTable').DataTable({
        responsive: true,
        autoWidth: false
    });

    $('#columnSelector').on('change', function() {
        var column = table.column($(this).val());
        column.search('').draw(); // Clear column search on every change
    });

    $('#columnSearch').on('keyup', function() {
        var colIndex = $('#columnSelector').val();
        if (colIndex) {
            table.column(colIndex).search(this.value).draw();
        } else {
            table.search(this.value).draw(); // Search all columns if no specific column selected
        }
    });

    $('.notification .delete').click(function () {
        $(this).parent().fadeOut(() => $(this).remove());
    });
});
</script>
{% endblock %}
