{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h3 class="title is-3">My Bots</h3>
    <div class="columns is-multiline">
        {% for bot in bots %}
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ bot.name }}
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fas fa-robot" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content">
                        Exchange: {{ bot.exchange.name }}<br>
                        Market: {{ bot.market.name }}<br>
                        Strategy: {{ bot.strategy.name }}<br>
                        Active: {{ bot.is_active|yesno:"Yes,No" }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{% url 'bot:bot_detail' bot_id=bot.pk %}" class="card-footer-item">View Details</a>

                    <form action="{% url 'bot:delete_bot' bot_id=bot.pk %}" method="post">{% csrf_token %}
                    <button type="submit" class="card-footer-item has-text-danger" onclick="return confirm('Are you sure you want to delete this bot?');">Delete</button>
                    </form>
                </footer>
            </div>
        </div>
        {% empty %}
        <p>No bots found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
